<div class="repeated-item" ui-view></div>
<!-- <script type="text/javascript">
     new SmartBanner({
         daysHidden: 1,
         title: 'AngularFrameworkFrontend',
         author: 'Wohlig Technology'
     });
   </script> -->
