<div class="top-bar">
    <div class="logo">
        <a ui-sref="dashboard" title="Absolute"><img src="frontend/img/logo.png" alt="Absolute" height="45"></a>
        <div class="menu-options"><span class="menu-action"><i></i></span></div>
    </div>
    <!-- <form class="search-form">
        <input type="text" placeholder="Search Here..." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form> -->
    <div class="quick-links">

        <ul>
          <li>
            <a href="https://calendar.google.com/calendar" target="_blank" class="cal-tag"><i class="ln-calendar3"></i></a>
          </li>
            <!--<li>
                <span uib-dropdown class="inline mr-10">
      <button class="btn-noti" id="new-tasks" uib-dropdown-toggle><i class="ln-bell"></i><span class="badge">5</span></button>

                <ul class="dropdown-menu info-dropdown ps-left" uib-dropdown-menu role="menu" aria-labelledby="new-tasks">
                    <li role="menuitem">
                        <a ng-click="assignSurveyor();">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>

                    <li role="menuitem">
                        <a ng-click="allAssessment();">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="">
                            <div class="msg-notify">
                                <h4>Gerry mentioned you in post</h4>
                                <span>5m ago</span>
                            </div>
                        </a>
                    </li>
                </ul>
                </span>
            </li>-->
            <li>
                <a title="Logout" class="show-stats red-skin" ui-sref="login" tooltip-placement="left" uib-tooltip="Logout"><i class="fa fa-power-off"></i></a>
            </li>
        </ul>
    </div>
<div class="loaderHeader" ng-show="template.isLoader">
  <img src="frontend/img/fancybox_loading@2x.gif" alt="" style="height:20px; width:20px;">
</div>
</div>
<!-- Top Bar -->
<header class="side-header light-skin opened-menu">
    <div class="admin-details">
        <span><img ng-src="{{template.profile.photo|serverimage}}" alt="" /></span>
        <h3 class="capitalize" ng-bind="template.profile.name"></h3>
        <i class="capitalize" ng-bind="template.profile.accessLevel"></i>    
    </div>
    <div class="menu-scroll">
        <div class="side-menus">
            <span>MAIN LINKS</span>
            <nav ng-include="template.menu"></nav>
        </div>
    </div>
    <!-- Menu Scroll -->
</header>
