<div class="heading-sec">
          <div class="btn-group pull-right">
  <button type="button" class="btn btn-default" ng-class="{'btn-primary': filter.ownerStatus=='All files'}" ng-click="filter.ownerStatus='All files';showAssignment(true);">All Assignment</button>
  <button type="button" class="btn btn-default" ng-class="{'btn-primary': filter.ownerStatus=='My files'}" ng-click="filter.ownerStatus='My files';showAssignment(true)">My Assignment</button>
  <button type="button" class="btn btn-default" ng-class="{'btn-primary': filter.ownerStatus=='Shared with me'}" ng-click="filter.ownerStatus='Shared with me';showAssignment(true)">Shared With Me</button>
</div>
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
               
                <h2>Assignment List</h2>
            </div>
        </div>

        </div>
   
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <form class="search-form mr-form">
                                <input type="text" ng-change="showAssignment(true)" placeholder="Search Here..." ng-model="filter.name" />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                            <a class="btn btn-primary" ui-sref="createassignment">Add New</a>
                            <button class="btn btn-primary" ng-click="assignmentFilter()"><i class="fa fa-filter"></i> Filter</button>
                        </div>
                        <h3>List of Assignment
                            <span class="tableTotal">(Total :
                                {{totalItems}})
                            </span>
                        </h3>
                    </div>
                    <div class="table-responsive" ng-show="totalItems>0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>MR Number</th>
                                    <th>Owner</th>
                                    <th>Insurer</th>
                                    <th>Insured</th>
                                    <th>Site City</th>
                                    <th>Nature Of Survey</th>
                                    <th>Estimated Loss</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in modelList">
                                    <td>
                                        {{($index + 1)+((currentPage-1)*maxRow)}}
                                    </td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.owner}}</td>
                                    <td>{{data.insurerName}}</td>
                                    <td>{{data.insurerdName}}</td>
                                    <td>{{data.city}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.intimatedLoss}}</td>
                                    <td>
                                        {{data.timelineStatus}}
                                        <!--<toggle-switch ng-model="data.status" class="switch-mini switch-success" ng-change="changeStatus(data)"></toggle-switch>-->
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" ui-sref="editassignment({id:data._id})">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteModel(data._id)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-danger" ui-sref="timeline({id:data._id})">
                                            Timeline
                                        </a>
                                        <!--Clone-->
                                        <!--<a class="btn btn-danger" ui-sref="createassignment({assignment:data._id})">
                                            Clone
                                        </a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tableData" ng-show="totalItems == 0 || totalItems == undefined ">
                        <h5>No data found</h5>
                    </div>
                    <!--<div class="tableData" ng-show="totalItems == undefined">
                        <h5>Loading Data</h5>
                    </div>-->
                    <ul ng-if="totalItems" ng-change="changePage(currentPage);" uib-pagination total-items="totalItems" items-per-page="maxRow"
                        ng-model="currentPage" max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div>
    </div>
</div>