<form name="formName">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row" ng-if="!formData._id">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Invoice Template*</label>
                                <multiple-select my-enter name="templateInvoice" required ng-model="formData.templateInvoice" ng-name="templateInvoice" api="searchTemplateInvoice"></multiple-select>
                                <div class="error-msg" ng-show="formName.templateInvoice.$invalid">Please Enter Template</div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="formData.templateInvoice">
                            <button class="btn btn-default invoice--go" ng-click="getTemplateDetails(formData.templateInvoice)">GO</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name*</label>
                                <input type="text" ng-model="formData.name" placeholder="Enter Name" class="form-control">
                                <div class="error-msg" ng-show="formName.name.$invalid">Please Enter Name</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Number*</label>
                            <input type="text" ng-model="formData.invoiceNumber" placeholder="Enter Number" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" ng-if="showForm">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater">
                            <div class="form-builder-hr">
                                <div class="form-builder-item no-pad-left row-item">
                                    <div class="col-item col-item-50">
                                        <b> Description</b>
                                    </div>
                                    <div class="col-item col-item-50">
                                        <b> Unit</b>
                                    </div>
                                    <div class="col-item col-item-50">
                                        <b> Rate</b>
                                    </div>
                                    <div class="col-item col-item-50">
                                        <b>  Quantity</b>
                                    </div>
                                    <div class="col-item col-item-50">
                                        <b> Amount</b>
                                    </div>
                                </div>
                                <div class="form-builder-item no-pad-left row-item" ng-repeat="form in formData.invoiceList track by $index">
                                    <div class="col-item col-item-50">
                                        <input type="text" ng-model="form.name" placeholder="Enter Name" class="form-control">
                                    </div>
                                    <div class="col-item col-item-50">
                                        <input type="text" ng-model="form.unit" placeholder="Enter Unit" class="form-control">
                                    </div>
                                    <div class="col-item col-item-50">
                                        <input type="number" step="0.01" ng-model="form.rate" placeholder="Enter Rate" class="form-control" ng-change="calAmt(form.rate,form.quantity,$index)">
                                    </div>
                                    <div class="col-item col-item-50">
                                        <input type="number" step="1" min="0" ng-model="form.quantity" placeholder="Enter Quantity" class="form-control" ng-change="calAmt(form.rate,form.quantity,$index)">
                                    </div>
                                    <div class="col-item col-item-50">
                                        <input type="number" ng-model="form.amount" placeholder="Total" class="form-control" readonly>
                                    </div>
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                        <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" ng-if="showForm">
            <div class="form-elements-sec">
                <div class="sec-total">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Sub-Total: </label> {{formData.subTotal}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="form1 in formData.tax track by $index">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{form1.name}}@{{form1.percent}}%: </label> {{form1.amount}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Rounding-Off: </label> {{formData.roundOff}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Grand-Total: </label> {{formData.grandTotal}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" ng-click="saveModel(formData)" ng-disabled="formName.$invalid">Save</button>
            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</form>