<form name="formName">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row" ng-if="!formData._id">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Invoice Template*</label>
                                <multiple-select my-enter name="templateInvoice" required ng-model="formData.templateInvoice" ng-name="templateInvoice" api="searchTemplateInvoice"></multiple-select>
                                <div class="error-msg" ng-show="formName.templateInvoice.$invalid">Please Enter Template</div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="formData.templateInvoice && formData.segment && formData.customerCompany && formData.billedTo">
                            <button class="btn btn-default invoice--go" ng-click="getTemplateDetails(formData.templateInvoice)">GO</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Segment*</label>
                                    <multiple-select my-enter name="segment" required ng-model="formData.segment" ng-name="name.segment" api="searchCustomerSegment"></multiple-select>
                                    <div class="error-msg" ng-show="formName.segment.$invalid">Please Select Segment</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Customer Company*</label>
                                    <multiple-select my-enter name="customerCompany" required ng-model="formData.customerCompany" filter='{"customerSegment":"{{formData.segment}}"}'
                                        ng-name="name.company" api="searchCustomerCompany"></multiple-select>
                                    <div class="error-msg" ng-show="formName.customerCompany.$invalid">Please Select Customer Company</div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Customer Office*</label>
                                        <multiple-select my-enter name="customer" required ng-model="formData.customer" filter='{"customerCompany":"{{formData.customerCompany}}"}'
                                            ng-name="name.customer" api="searchCustomer"></multiple-select>
                                            <div class="error-msg" ng-show="formName.customer.$invalid">Please Select Customer</div>
                                    </div>
                                </div>
                            </div>-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Billed To*</label>
                                <multiple-select my-enter name="billedTo" required ng-model="formData.billedTo" filter='{"customerCompany":"{{formData.customerCompany}}"}'
                                    ng-name="billedTo" api="searchCustomer" filter='{"customerSegment":"{{formData.segment}}"}'
                                    novalidate></multiple-select>
                                <div class="error-msg" ng-show="formName.billedTo.$invalid">Please Select Insurer Office</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fee Narration</label>
                                <input type="text" ng-model="formData.narrationFee" placeholder="Enter Narration Fee" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gross Assessed Loss</label>
                                <input type="number" ng-model="formData.grossAssessedLoss" placeholder="Enter Gross Assessed Loss" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gross Salvage</label>
                                <input type="number" ng-model="formData.grossSalvage" placeholder="Enter Gross Salvage" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Taxes</label>
                                <input type="number" ng-model="formData.taxes" placeholder="Enter Taxes" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Excess Franchise</label>
                                <input type="number" ng-model="formData.excessFranchise" placeholder="Enter Excess Franchise" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gross Depreciation</label>
                                <input type="number" ng-model="formData.grossDepreciation" placeholder="Enter Gross Depreciation" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gross Under Insurance</label>
                                <input type="number" ng-model="formData.grossUnderInsurance" placeholder="Enter Gross Under Insurance" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Net Payable</label>
                                <input type="number" ng-model="formData.netPayable" placeholder="Enter Net Payable" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" ng-if="showForm">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater">
                            <div class="form-builder-head has-pad row-item">
                                <div class="col-item col-item-20">
                                    <p>Name</p>
                                </div>
                                <div class="col-item col-item-20">
                                    <p>Description</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Unit</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Rate</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Quantity</p>
                                </div>
                                <div class="col-item col-item-15">
                                    <p>Amount</p>
                                </div>
                            </div>

                            <div class="form-builder-hr" dragular dragular-model="formData">
                                <div class="form-builder-item row-item" ng-repeat="form in formData.invoiceList">
                                    <div class="right-float mark-float">
                                        <i class="fa fa-bars handleBar"></i>
                                    </div>
                                    <div class="col-item col-item-20">
                                        <ui-select ng-model="form" ng-change="getAll(form,$index)" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select">
                                                <span class="detail-title" title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="d in descriptions | filter: $select.search" refresh="getdescriptions($select.search)" refresh-delay="0">
                                                <span>{{d.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-item col-item-20">
                                        <input type="text" title="{{form.description}}" ng-model="form.description" placeholder="Enter Unit" class="form-control">
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="text" ng-model="form.unit" placeholder="Enter Unit" class="form-control" readonly>
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="number" step="0.01" ng-model="form.rate" placeholder="Enter Rate" class="form-control text-right" ng-change="calAmt(form.rate,form.quantity,$index)">
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="number" step="0.01" min="0" ng-model="form.quantity" placeholder="Enter Quantity" class="form-control text-right" ng-change="calAmt(form.rate,form.quantity,$index)">
                                    </div>
                                    <div class="col-item col-item-15">
                                        <input type="number" ng-model="form.amount" placeholder="Total" class="form-control text-right" readonly>
                                    </div>
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                        <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" ng-if="showForm">
            <div class="form-elements-sec">
                <div class="sec-total">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Sub-Total: </label> {{formData.subTotal}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="form1 in formData.tax track by $index">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{form1.name}}@{{form1.percent}}%: </label> {{form1.amount}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Rounding-Off: </label> {{formData.roundOff}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Grand-Total: </label> {{formData.grandTotal}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-primary" ng-click="saveModel(formData)" ng-if="showForm && !approval" ng-disabled="formName.$invalid">Save</button>
            <button class="btn btn-primary" ng-click="saveModel(formData)" ng-if="showForm && approval" ng-disabled="formName.$invalid">Accept</button>
            <button class="btn btn-warning" ng-click="comment()" ng-if="showForm && approval" ng-disabled="formName.$invalid">Revise</button>
            <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</form>