<table class="table table-responsive">
    <thead>
        <tr>
            <th>Main Menu</th>
            <th>Sub Menu</th>
            <th></th>
            <th>View</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Add Request</th>
            <th>Modify Request</th>
            <th>Approve</th>
            <th>Reject</th>
            <th>View All</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="role in roles">
            <td>
                <span ng-if="$index > 0">
                        <span ng-if="roles[$index-1].mainMenu != role.mainMenu">
                            {{role.mainMenu}}
                        </span>
                </span>
                <span ng-if="$index == 0">
                     {{role.mainMenu}}
                </span>
            </td>
            <td>
                {{role.subMenu}}
            </td>
            <td>
                {{role.subThirdMenu}}
            </td>
            <td>
                <toggle-switch ng-model="role.view.val" class="switch-mini switch-success" ng-if="role.view.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.add.val" class="switch-mini switch-success" ng-if="role.add.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.edit.val" class="switch-mini switch-success" ng-if="role.edit.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.delete.val" class="switch-mini switch-success" ng-if="role.delete.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.addRequest.val" class="switch-mini switch-success" ng-if="role.addRequest.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.modifyRequest.val" class="switch-mini switch-success" ng-if="role.modifyRequest.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.approve.val" class="switch-mini switch-success" ng-if="role.approve.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.reject.val" class="switch-mini switch-success" ng-if="role.reject.isExist"></toggle-switch>
            </td>
            <td>
                <toggle-switch ng-model="role.viewAll.val" class="switch-mini switch-success" ng-if="role.viewAll.isExist"></toggle-switch>
            </td>
        </tr ng-init="oldMainMenu = role.mainMenu">
    </tbody>
</table>