<form name="formName" ng-submit="saveModel(forms)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>{{forms.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-if="forms.type=='templateIla'"><label>ILA Name</label></div>
                                <div ng-if="forms.type!='templateIla'"><label>Template Name</label></div>
                                <input type="text" class="form-control" ng-model="forms.templateName" name="templateName" readonly>
                                <div class="error-msg" ng-show="formName.templateName.$invalid">Please enter Template name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" ng-if="forms.type!='templateLor'">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater" ng-repeat="form in forms.forms">
                            <div class="form-builder-head">
                                <p>{{form.name}}</p>
                            </div>
                            <div class="form-builder-hr" id="sortable-ul-selector-id" ng-model="form.items">
                                <div class="form-builder-item no-pad row-item" ng-repeat="item in form.items">
                                    <div class="col-item col-item-35">
                                        <p>{{item.name}}
                                            <span ng-if="item.value == true"></span>
                                        </p>
                                    </div>
                                    <!-- TEXT -->
                                    <div class="col-item" ng-if="item.value=='Text'">
                                        <input type="text" ng-model="item.field" placeholder="Enter {{item.name}}" class="form-control">
                                    </div>
                                    <!-- DATE -->
                                    <div class="col-item" ng-if="item.value=='Date'">
                                        <input type="date" date-model placeholder="Enter {{item.name}}" class="form-control" ng-model="item.field">
                                    </div>
                                    <!-- TEXT AREA -->
                                    <div class="col-item" ng-if="item.value=='Textarea'">
                                        <textarea class="form-control" ng-model="item.field" placeholder="Enter {{item.name}}"></textarea>
                                    </div>
                                    <!-- SYSTEM FIELD -->
                                    <div class="col-item" ng-if="item.type=='System Fields'">
                                        <p>{{item.value|toobject:assignment}}</p>
                                    </div>
                                    <!-- LOR -->
                                    <div class="col-item" ng-if="item.type=='Copy'||item.type=='Original'">
                                        <p>{{item.type}}
                                            <span class="pull-right">Submitted<toggle-switch ng-model="item.submit" class="switch-small switch-success m5"></toggle-switch></span>
                                            <span class="pull-right" ng-if="item.submit"><input type="date" date-model placeholder="Enter submitted date" class="form-control" ng-model="item.date"></span>
                                        </p>
                                    </div>
                                    <!-- DROPDOWN -->
                                    <div class="col-item" ng-if="item.type=='Dropdown'">
                                        <select class="form-control" ng-model="item.field">
                                            <option value="{{item}}" ng-repeat="item in item.dropdownValues">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget" ng-if="forms.type=='templateLor'">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater" ng-init="outerIndex=$index" ng-repeat="form in forms.forms">
                            <div class="form-builder-head">
                                <div class="mark-float">
                                    <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                    <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                                </div>
                                <input type="text" ng-model="form.name" placeholder="Enter Heading" class="form-control">
                            </div>
                            <div class="form-builder-hr" id="sortable-ul-selector-id" ng-model="form.items">
                                <div class="form-builder-item no-pad row-item" ng-repeat="item in form.items">
                                    <!--<div class="col-item col-item-35 ">
                                        <p>
                                            <ui-select ng-model="item" class="ui-select-custom" ng-change="getAll(item,$index,outerIndex)" theme="bootstrap" sortable="true">
                                                <ui-select-match placeholder="Select">
                                                    <span class="detail-title" title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="d in descriptions | filter: $select.search" refresh="getdescriptions($select.search)" refresh-delay="0">
                                                    <span>{{d.name}}</span>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-if="item.value == true"></span>
                                        </p>
                                    </div>-->
                                    <div class="col-item">
                                        <ui-select placeholder="Select" ng-model="item"ng-change="getOneDescription(item,$index,outerIndex)" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select">
                                                <span class="detail-title" ng-if="!flag" title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                                <span class="detail-title" ng-if="flag" title="{{$select.selected.name}}">{{$select.selected.category}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="d in categories | filter: $select.search" refresh="getCategories($select.search)" refresh-delay="0">
                                                <span>{{d.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!--<input type="text" ng-model="item.name" placeholder="Enter item name" class="form-control">-->
                                    </div>
                                    <div class="col-item">
                                        <ui-select ng-model="item" ng-change="getAll(item,$index,outerIndex)" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select">
                                                <span class="detail-title" title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="d in descriptions | filter: $select.search" refresh="getdescriptions($select.search)" refresh-delay="0">
                                                <span>{{d.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!--<input type="text" ng-model="item.name" placeholder="Enter item name" class="form-control">-->
                                    </div>
                                    <!-- TEXT -->
                                    <div class="col-item" ng-if="item.value=='Text'">
                                        <input type="text" ng-model="item.field" placeholder="Enter {{item.name}}" class="form-control">
                                    </div>
                                    <!-- DATE -->
                                    <div class="col-item" ng-if="item.value=='Date'">
                                        <input type="date" date-model placeholder="Enter {{item.name}}" class="form-control" ng-model="item.field">
                                    </div>
                                    <!-- TEXT AREA -->
                                    <div class="col-item" ng-if="item.value=='Textarea'">
                                        <textarea class="form-control" ng-model="item.field" placeholder="Enter {{item.name}}"></textarea>
                                    </div>
                                    <!-- SYSTEM FIELD -->
                                    <div class="col-item" ng-if="item.type=='System Fields'">
                                        <p>{{item.value|toobject:assignment}}</p>
                                    </div>
                                    <!-- LOR -->
                                    <div class="col-item" ng-if="item.type=='Copy'||item.type=='Original'">
                                        
                                                <select class="form-control" ng-model="item.type">
                                            <option value="{{item.value}}" ng-repeat="item in itemTypes">{{item.name}}</option>
                                        </select>
                                           
                                    </div>
                                     
                                    <div class="col-item" ng-if="item.type=='Copy' || item.type=='Original' && item.submit">
                                        <input type="date" date-model placeholder="Enter submitted date" class="form-control" ng-model="item.date" >    
                                    </div>
                                    <div class="col-item" ng-if="item.type=='Copy'||item.type=='Original'">
                                               <toggle-switch on-label="Submitted" off-label="Not Submitted" ng-model="item.submit" class="switch-small switch-success m5 mt5"></toggle-switch>
                                    </div>
                                   
                                    <!-- DROPDOWN -->
                                    <div class="col-item" ng-if="item.type=='Dropdown'">
                                        <select class="form-control" ng-model="item.field">
                                            <option value="{{item}}" ng-repeat="item in item.dropdownValues">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success" ng-click="addItem(form);"></i>
                                        <i class="fa fa-minus-circle danger" ng-click="removeItem(form, $index);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button" ng-hide="Saved">
            <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
            <a class="btn btn-default" ui-sref="timeline({id:assignment._id})">Cancel</a>
        </div>
    </div>
</form>