<form name="formName" ng-submit="saveModel(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                    <h2>{{header.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>LOR Name*</label>
                                <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                                <div class="error-msg" ng-show="formName.name.$invalid && formName.name.$touched">Please Enter Name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater" ng-init="outerIndex=$index" ng-repeat="form in formData.forms track by $index">
                            <div class="form-builder-head">
                                <div class="mark-float">
                                    <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                    <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                                </div>
                                <input type="text" ng-model="form.name" placeholder="Enter Heading" class="form-control">
                            </div>
                            <div class="form-builder-hr" id="sortable-ul-selector-id" ui-sortable="sortableOptions" ng-model="form.items">
                                <div class="form-builder-item row-item" ng-repeat="item in form.items">
                                    <div class="right-float mark-float">
                                        <i class="fa fa-bars handleBar"></i>
                                    </div>
                                    <div class="col-item">
                                        <ui-select ng-model="item" ng-change="getAll(item,$index,outerIndex)" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select">
                                                <span class="detail-title" title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="d in descriptions | filter: $select.search" refresh="getdescriptions($select.search)" refresh-delay="0">
                                                <span>{{d.name}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!--<input type="text" ng-model="item.name" placeholder="Enter item name" class="form-control">-->
                                    </div>
                                    <div class="col-item col-item-25">
                                        <select class="form-control" ng-model="item.type">
                                            <option value="{{item.value}}" ng-repeat="item in itemTypes">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-item col-item-25" ng-if="item.type == 'Submitted'">
                                        <input type="date" ng-model="item.value" class="form-control lorDate">
                                    </div>
                                    <div class="col-item col-item-25" ng-if="item.type != 'Submitted'">
                                        <p>Required
                                            <toggle-switch on-label="Yes" off-label="No" ng-model="item.value" class="switch-mini switch-success ml-25"></toggle-switch>
                                        </p>
                                    </div>
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success" ng-click="addItem(form);"></i>
                                        <i class="fa fa-minus-circle danger" ng-click="removeItem(form, $index);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</form>