<div class="modal-header green-bg">
    <div class="pull-right">
        <button class="btn btn-darker btn-round btn-nopad" ng-if="assignment.dateOfLoss" ng-click="viewTemplates('Invoices','TemplateInvoice','')">Create new</button>
        <button class="btn btn-clear" ng-click="$dismiss()">
            <i class="ln-cross"></i>
        </button>
    </div>
    <h5 class="modal-title">View Invoice</h5>
</div>
<!--<div class="modal-body">
    <div class="file-border">
        <div class="scroll-x-max">
            <table class="file-list table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="vert-mid">
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="user-img">
                                <img src="frontend/img/varun-khali.png" alt="" class="user-mini">
                                <span>Mahesh Maurya</span>
                            </div>
                        </td>
                        <td>28Oct2016</td>

                        <td>
                            <button class="btn btn-clear" ng-click="viewTemplates('Invoices','TemplateInvoice',Invoice)"><i class="ln-pencil"></i></button>
                            <button class="btn btn-clear"><i class="ln-trash2"></i></button>
                            <button class="btn btn-clear"><i class="ln-download"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>-->
<div class="modal-body">
    <table class="file-list table" ng-if="assignment.templateInvoice != ''">
        <thead>
            <tr>
                <th>#</th>
                <th>Invoice Template</th>
                <th>Template Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Invoice in assignment.templateInvoice track by $index">
                <td>{{$index + 1}}</td>
                <td>{{Invoice.name}}</td>
                <td>{{Invoice.templateName}}</td>
                <td>{{Invoice.timestamp|date:'dd-MM-yyyy'}}</td>
                <td>
                    <button class="btn btn-clear" ng-click="viewTemplates('Invoices','TemplateInvoice',Invoice)"><i class="ln-pencil"></i></button>
                    <button class="btn btn-clear"><i class="ln-trash2"></i></button>
                    <!--<button class="btn btn-clear" ng-click="viewTemplates('LORs','TemplateLor',lor)"><i class="ln-pencil"></i></button>
          <button class="btn btn-clear" ng-click="deleteTemplate('templateLor',$index)"><i class="ln-trash2"></i></button>-->
                    <!--<button class="btn btn-clear"><i class="ln-download"></i></button>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>