<div class="modal-header green-bg">
  <div class="pull-right">
    <button class="btn btn-darker btn-round btn-nopad" ng-if="assignment.templateIla.length==0 && assignment.dateOfLoss && assignment.branch.ITAT && assignment.typeOfClaim && assignment.isInsured" ng-click="viewTemplates('ILAs','TemplateIla','')">Create new</button>
    <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
  </div>
  <h5 class="modal-title">View ILAs</h5>
</div>
<div class="modal-body">
  <table class="file-list table" ng-if="assignment.templateIla != ''">
    <thead>
      <tr>
        <th>#</th>
        <th>ILA Template</th>
        <th>MR #</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ilas in assignment.templateIla track by $index">
        <td>{{$index + 1}}</td>
        <td>{{ilas.name}}</td>
        <td>{{assignment.name}}</td>
        <td>{{ilas.timestamp|date:'dd-MM-yyyy'}}</td>
        <td>
          <button class="btn btn-clear" ng-click="viewTemplates('ILAs','TemplateIla',ilas)"><i class="ln-pencil"></i></button>
          <button class="btn btn-clear" ng-click="deleteTemplate('templateIla',$index)"><i class="ln-trash2"></i></button>
          <!--<button class="btn btn-clear"><i class="ln-download"></i></button>-->
        </td>
      </tr>
    </tbody>
  </table>
</div>