<div class="modal-header green-bg with-button">
    <div class="pull-right">
        <button class="btn btn-clear" ng-click="$dismiss()">
            <i class="ln-cross"></i>
        </button>
    </div>
    <h5 class="modal-title">Others</h5>
</div>
<div class="modal-body">
    <form name="companyForm" ng-submit="saveCompany(formData)">
        <div class="form-group">
            <label>Upload Files</label>
            <upload-image ng-model="companyForm.logo"></upload-image>
        </div>
    </form>
    <div class="field">
        <div class="custom-tabs">
            <div>
                Others Document <span class="color-green">(1)</span>
                <div class="scroll-x-max">
                    <table class="file-list table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="vert-mid">
                            <tr>
                                <td>1</td>
                                <td>
                                    <div class="user-img">
                                        <img src="frontend/img/varun-khali.png" alt="" class="user-mini">
                                        <span>Mahesh Maurya</span>
                                    </div>
                                </td>
                                <td>28Oct2016</td>

                                <td>
                                    <button class="btn btn-clear"><i class="ln-trash2"></i></button>
                                    <button class="btn btn-clear"><i class="ln-download"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
