<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>Quasar</title>
    <style media="screen">
        body {
            padding: 30px;
            font-family: sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            width: 50%;
            background-color: red;
            text-align: left;
            padding: 10px;
        }

        tr {
            width: 100%;
        }

        td {
            width: 50%;
            padding: 10px;
            border: 1px solid #000;
            min-height: 30px;
        }
        .white-text{
          color: transparent;
          user-select: none;
        }
        .blank-row{
          height: 20px !important;
        }
    </style>
</head>

<body>
    <div>
        <table>
            <tr>
                <td colspan="2"><b>SYNOPSIS</b></td>
            </tr>
            <tr>
                <td>INSURED</td>
                <td>Absolute Insurance Surveyors & Loss Assessors Pvt Ltd - ASPL</td>
            </tr>
            <tr>
                <td>INSURER</td>
                <td>dd/mm/yyyy</td>
            </tr>
            <tr>
                <td colspan="2" class="white-text blank-row"></td>
            </tr>
            <tr>
                <td colspan="2"><b>CONSIGNMENT</b></td>
                <!-- <td></td> -->
            </tr>
            <tr>
                <td>LR NUMBER</td>
                <td>Enter LR NUMBER</td>
            </tr>
            <tr>
                <td>NOTES</td>
                <td>Enter NOTES</td>
            </tr>
        </table>
    </div>
</body>
