<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>Quasar</title>
    <style media="screen">
        body {
            padding: 50px;
            font-family: sans-serif;
        }
        .img-header{
          padding: 10px 0;
          position: relative;
        }
        .txt-position{
          position: absolute;
          top: 50%;
          right: 0;
        }
        .tpbt-border{
          border-top: 2px solid #ebebeb;
          border-bottom: 2px solid #ebebeb;
        }
        .color-grey{
          color: grey;
        }
    </style>
</head>

<body>
    <div class="img-header">
        <img src="http://absolute.wohlig.co.in/frontend/img/logo.png" alt="Absolute Logo"  width="200px" height="auto">
        <p class="txt-position">Tushar Sachde < tushar@wohlig.com> </p>
    </div>

    <div class="tpbt-border">
      <h3 font-weight="bold">Change in absolute</h3>
    </div>
    <div style="position:relative">
      <p style="position:absolute ; top:-10px ; right:0">Wed , Sept 7 , 2016 at 1:19 PM</p>
      <p><b>Chintan Shah</b> < chintan@wohlig.com ></p>
      <p>To: Jagruti Patil < jagruti@wohlig.com > , tushar sachde < tushar@wohlig.com ></p>
      <div style="padding: 20px">
        <p>short name in type of office <br> -- </p>
        <div style="padding: 20px">
          <p class="color-grey">Best Regards,</p>
          <p class="color-grey">Chintan Shah</p>
          <p>Website: <a href="" style="color:blue">http://www.wohlig.com</a></p>
          <p class="color-grey">Mobile No: +91 9819222221</p>
        </div>
      </div>
    </div>
</body>
