<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 8px;
        }
        
        .tdata,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
            padding: 2px 3px;
        }
        
        h2 {
            text-align: center;
        }
        
        table {
            table-layout: fixed;
        }
        
        .table-data {
            border: 1px solid transparent;
            border-right: 1px solid;
            text-align: right;
            font-weight: bold;
        }
        
        .text-center {
            text-align: center;
        }
        
        .text-right {
            text-align: right;
        }
        
        .noborder {
            border: none;
        }
        
        .noborder td {
            padding: 3px 0;
        }
    </style>
</head>
<body style="
    padding: 0;
    margin: 0;
">
    <div style="width: 555px; margin: 0 auto;">
        <div style="float: right;">
            <img src="http://absolute.wohlig.co.in/api/upload/readFile?file=589c558c1d8a3a0fc6eb4c6e.png" style="width: 150px;">
        </div>
        <div>
            <div style="width: 190px;">
                <p>33, Swastik Chambers, Nr Navjivan Press, Income-tax, Ahmedabad, Gujarat. Phone #: 91 79 27540816 FAX #: 91
                    79 27540715 accounts@absolutesurveyors.co.in www.absolutesurveyors.co.in
                </p>
            </div>
        </div>
        <div style="
    clear: both;
">
    </div>
    <h2 style="
    margin: 5px 0;
">INVOICE</h2>
        <div class="clearfix" style="margin:0 auto;padding-bottom: 10px;">
            <h4 class="size" style="margin:0;">TAG BO Hyderabad</h4>
            <div style="width:49%;text-align:left;display:inline-block;vertical-align:middle;">
                <p class="size" style="margin: 5px 0;padding-right: 40px;">Tata AIG General Insurance Co Ltd Branch Office 4th Floor, A Block,My Home Tycoon, Kundanbagh, Begumpet,
                    Hyderabad 500016, Andhra Pradesh, India</p>
            </div>
            <div style="width: 49%;display: inline-block;margin-left: 0;">
                <div class="size"><i style="padding:0 5px;">Invoice No</i><span style="padding:0 12px;">1106-1606-0532</span></div>
                <div class="size"> <i style="padding:0 5px;">Invoice Date</i><span style="padding:0 3px;">18/06/2016</span></div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <table class="tdata noborder">
            <tbody>
                <tr>
                    <td style="width: 100px;" class="noborder">Appointed By</td>
                    <td style="width: 250px;" class="noborder">TAG BO Kolkata</td>
                    <td class="noborder">COL</td>
                    <td class="noborder">Theft</td>
                </tr>
                <tr>
                    <td class="noborder">Insurer</td>
                    <td class="noborder">TAG BO Hyderabad</td>
                    <td class="noborder">NOL</td>
                    <td class="noborder">Stolen</td>
                </tr>
                <tr>
                    <td class="noborder">Insured</td>
                    <td class="noborder">Amara Raja Batteries Limited/Bhubaneshwar</td>
                    <td class="noborder">Classification</td>
                    <td class="noborder">Goods Vehicles</td>
                </tr>
                <tr>
                    <td class="noborder">Policy Type</td>
                    <td class="noborder">Marine Cargo Open Policy</td>
                    <td class="noborder">Product</td>
                    <td class="noborder">Refuse/Garbage Collection</td>
                </tr>
                <tr>
                    <td class="noborder">Policy Number</td>
                    <td class="noborder">TAG BO Hyderabad</td>
                    <td class="noborder">Item</td>
                    <td class="noborder">Stolen</td>
                </tr>
                <tr>
                    <td class="noborder">Insurer Claim No</td>
                    <td class="noborder">0000000</td>
                    <td class="noborder">Invoice # &amp; Date</td>
                    <td class="noborder">28/00034</td>
                </tr>
                <tr>
                    <td class="noborder">Insured Claim No</td>
                    <td class="noborder"></td>
                    <td class="noborder">LR # &amp; Date</td>
                    <td class="noborder">OR0XREW</td>
                </tr>
                <tr>
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td class="noborder">Vehicle</td>
                    <td class="noborder">OR0XREW</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-top: 15px;">
            <div style="margine-top:20px;">
                <table class="tdata">
                    <tbody>
                        <tr>
                            <th style="width:25px" class="text-center">Sr #</th>
                            <th style="width: 305px;">Description</th>
                            <th>Quality</th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Serve fees for Visit on 11/06/2016</td>
                            <td class="text-right">1.00</td>
                            <td class="text-center">Per</td>
                            <td class="text-right">3000.00</td>
                            <td class="text-right">3000</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Local Conveyance</td>
                            <td class="text-right">1.00</td>
                            <td class="text-center">Visit</td>
                            <td class="text-right">500.00</td>
                            <td class="text-right">500</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Photographs</td>
                            <td class="text-right">12.00</td>
                            <td class="text-center">Copy</td>
                            <td class="text-right">10.00</td>
                            <td class="text-right">120</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>Mice expences like telephone,email,photocopy,courier,etc.</td>
                            <td class="text-right">1.00</td>
                            <td class="text-center">Per</td>
                            <td class="text-right">25.00</td>
                            <td class="text-right">250</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="table-data">Sub Total</td>
                            <td class="text-right">3870.00</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="table-data">Service Tag @ 14.00%</td>
                            <td class="text-right">541.80</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="table-data">Swashh Bharat Cess @ 0.50%</td>
                            <td class="text-right">19.35</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="table-data">Krishi Kalyan Cess @ 0.50%</td>
                            <td class="text-right">19.35</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="table-data">Rounding Off </td>
                            <td class="text-right">-0.50</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="table-data">Grand Total</td>
                            <td class="text-right">4,450.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="padding-top: 15px;">
            <b class="size" style="float:right;">For, Absolute Insurance Surveyors &amp; Loss Assessors Pvt Ltd</b>
            <div style="width:44%;text-align:left;display:inline-block;vertical-align:middle;">
                <b class="size">INR Four Thousand Four Hundred Fifty Only </b>
                <p class="size" style="margin: 5px 0 0;padding-right: 55px;">E. and O.E. Subjected to Ahmedabad Jurisdiction Service Tax No: AAGCA3986L ST001 (Insurance Auxiliary Services)
                    PAN No: AAGCA3986L. CIN: U93000GJ2007 PTC051 168</p>
            </div>
            <p class="size" style="margin-top: 10px;margin-bottom: 0;text-align: right;"> Authorized Signatory</p>
        </div>
        </div>
        </body>

</html>